.contact {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

@media (min-width: 1440px) {
  .contact {
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
  }
}

.contact__title {
  font-size: 2rem;
  padding-top: 20px;
  margin-bottom: 40px;
}

@media (min-width: 1440px) {
  .contact__title {
    font-size: 4rem;
  }
}

.contact__form {
  width: 100%;
  height: 400px;
}

@media (min-width: 1440px) {
  .contact__form {
    width: 600px;
  }

  .contact__form-top {
    display: flex;
    gap: 2rem;
  }

  .form-group {
    flex: 1;
  }
}

.contact__form h4 {
  margin-bottom: 10px;
}

.contact__form-input {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.contact__form-input:focus {
  outline: 2px solid #2e347f;
}

.contact__form-textarea {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px 0 0 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.contact__form-textarea:focus {
  outline: 2px solid #2e347f;
}

.contact__form-btn {
  background-color: #2e347f;
  color: #ededed;
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: transform 0.1s ease-in-out;
}

.contact__form-btn:active {
  transform: translateY(1.5px);
}

@media (min-width: 1440px) {
  .contact__form-btn {
    width: 230px;
  }
}

.contact__form-btn-icon {
  width: 20px;
  fill: red;
  stroke: red;
}

/* Alerts */
.alert-message--error {
  margin-bottom: 15px;
  text-align: center;
  color: red;
  background-color: #ffebee;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
}

.alert-message--success {
  margin-bottom: 15px;
  text-align: center;
  color: green;
  background-color: #bee3be;
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px;
}

.alert-message--warning {
  margin-bottom: 15px;
  text-align: center;
  color: #ffa602;
  background-color: #fefada;
  border: 1px solid rgb(255, 196, 0);
  border-radius: 10px;
  padding: 10px;
}
