.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__logo,
.header__menu-open,
.header__menu-close {
  cursor: pointer;
}

.header__logo {
  width: 40px;
  height: auto;
}

.header__menu-open {
  width: 30px;
  height: auto;
}

.header__menu-mobile {
  background-color: #1f1f1f;
  color: #ededed;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* display: none; */
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 10;
}

.header__menu-mobile.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header__menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header__menu-close {
  width: 30px;
  height: auto;
}

.header__menu-links {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 2.5rem;
  font-weight: 500;
  list-style: none;
  height: 100%;
  width: 100%;
}

.header__menu-link a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.header__menu-link a:hover {
  color: #2e347f;
}

.header__menu-link a:active {
  color: #2e347f;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__title {
  width: 200px;
  font-size: 3.3rem;
  font-weight: 700;
  margin: 50px 0 40px 0;
}

.welcome__title-name {
  font-family: 'Geist Mono', Arial, Helvetica, sans-serif;
  font-size: 3.1rem;
  font-weight: 700;
  color: #2e347f;
}

.welcome__img {
  margin-top: 40px;
  width: 300px;
}

.shadow {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 15px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  filter: blur(2px);
  z-index: -10;
}
