.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1440px) {
  .welcome {
    flex-direction: row;
    justify-content: space-around;
    padding: 110px 0;
  }
}

.welcome__title {
  width: 200px;
  font-size: 3.3rem;
  font-weight: 700;
  margin: 50px 0 40px 0;
}

@media (min-width: 1440px) {
  .welcome__title {
    font-size: 6rem;
    width: 300px;
    line-height: 100px;
  }
}

.welcome__title-name {
  font-family: 'Geist Mono', Arial, Helvetica, sans-serif;
  font-size: 3.1rem;
  font-weight: 700;
  color: #2e347f;
}

@media (min-width: 1440px) {
  .welcome__title-name {
    font-size: 5rem;
  }
}

.welcome__img {
  margin: 40px 0 100px 0;
  width: 300px;
}

@media (min-width: 1440px) {
  .welcome__img {
    width: 400px;
  }
}

.about-me {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1440px) {
  .about-me {
    flex-direction: row;
    justify-content: space-around;
    padding: 200px 0;
  }
}

.about-me__left {
  text-align: center;
}

@media (min-width: 1440px) {
  .about-me__left {
    width: 400px;
  }
}

.about-me__title {
  font-size: 2rem;
  padding-top: 20px;
  margin-bottom: 40px;
}

@media (min-width: 1440px) {
  .about-me__title {
    font-size: 4rem;
  }
}

.about-me__title-name {
  font-family: 'Geist Mono', Arial, Helvetica, sans-serif;
  color: #2e347f;
}

.about-me__description {
  font-size: 0.975rem;
  margin-bottom: 40px;
}

@media (min-width: 1440px) {
  .about-me__description {
    font-size: 1.125rem;
  }
}

.about-me__img {
  width: 250px;
  height: auto;
  margin-bottom: 40px;
}

@media (min-width: 1440px) {
  .about-me__img {
    width: 350px;
  }
}

.services {
  background: url('../images/bg.svg');
  object-fit: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1440px) {
  .services {
    padding: 80px 0 150px 0;
  }
}

.services__cards-container {
  width: 90%;
}

.services__title {
  font-size: 2rem;
  padding-top: 20px;
  margin-bottom: 40px;
}

@media (min-width: 1440px) {
  .services__title {
    font-size: 4rem;
  }
}

.services__title-code {
  font-family: 'Geist Mono', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #2e347f;
}

.services__card {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 35px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  backdrop-filter: blur(2px);
}

@media (min-width: 1440px) {
  .services__cards-container {
    display: flex;
    justify-content: space-around;
    gap: 45px;
  }

  .services__card {
    width: 360px;
  }
}

.services__card-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

.services__card-title {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 15px;
}

.services__card-text {
  font-size: 0.95rem;
  text-align: justify;
}
