@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

body {
  font-family: Geist, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #ededed;
  color: #1f1f1f;

  --sb-track-color: #ededed;
  --sb-thumb-color: #2e347f;
  --sb-size: 11px;
}

.separator {
  border: none;
  border-radius: 3px;
  background-color: #2e347f;
  width: 320px;
  height: 6px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .separator {
    display: none;
  }
}

.separator__desktop {
  display: none;
  height: 1px;
  background-color: #2e347f;
}

@media (min-width: 1440px) {
  .separator__desktop {
    display: inherit;
  }
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.projects__card-description::-webkit-scrollbar {
  width: var(--sb-size);
}

.projects__card-description::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.projects__card-description::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  .projects__card-description {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
